parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Resources
        - src/Cache/Psr6Adapter.php
        - src/Cache/Psr16Adapter.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Allow mixed array types in some places
        - '#no value type specified in iterable type array#'
