parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Resources
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Allow mixed array types in some places
        - '#no value type specified in iterable type array#'
